[submodule "micropython"]
	path = micropython
	url = https://github.com/micropython/micropython.git
[submodule "micropython-micro-gui"]
	path = micro-gui
	url = https://github.com/peterhinch/micropython-micro-gui.git
[submodule "esp-idf"]
	path = esp-idf
	url = https://github.com/espressif/esp-idf.git
[submodule "micropython-lis2hh12"]
	path = micropython-lis2hh12
	url = https://github.com/tuupola/micropython-lis2hh12.git
